.pagecontainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: span 12;
  border-bottom: 1px solid var(--primary-color);
}
.navigation-menu {
  grid-column: span 2;
  min-height: 100vh;
  border-right: 1px solid var(--primary-color);
}
.main-content {
  grid-column: span 10;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.main-content-no-nav {
  grid-column: span 12;
}
.footer {
  grid-column: span 12;
  border-top: 1px solid var(--primary-color);
  padding-top: 1rem;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.column-container > div {
  padding-left: 0.5rem;
}

.column-2 {
  grid-column: span 2;
}
.column-4 {
  grid-column: span 4;
}
.column-6 {
  grid-column: span 6;
}
.column-8 {
  grid-column: span 8;
}
.column-10 {
  grid-column: span 10;
}

h1 {
  text-align: left;
}

h1.page-title {
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}

.alert {
  margin-left: 3rem !important;
}

.pull-right {
  float: right;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}

@media screen and (max-width: 1250px) {
  .navigation-menu {
    grid-column: span 3;
  }
  .main-content {
    grid-column: span 9;
  }
}

@media screen and (max-width: 750px) {
  .navigation-menu {
    grid-column: span 12;
    min-height: 60px;
    max-height: 60px;
    border-right: none;
    padding: 0px;
    padding-bottom: 1rem;
  }
  .main-content {
    grid-column: span 12;
    height: 100vh;
  }

  .main-content-no-nav {
    grid-column: span 12;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .navigation-menu {
    min-height: 120px;
    max-height: 120px;
  }
}
