.sidenav {
  height: 100%;
  width: 80%;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid var(--primary-color);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--success-color);
  display: block;
}

.sidenav a:hover,
.sidenav a.selected {
  color: var(--primary-color);
}

@media screen and (max-width: 750px) {
  .sidenav {
    padding-top: 15px;
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
  }
  .sidenav a {
    font-size: 18px;
  }
}
